<p id="notice"><%= notice %></p>

<h1>Combattants</h1>
<div class="fighters-index content">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Santé</th>
        <th>Attaque</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @fighters.each do |fighter| %>
        <tr>
          <td><%= fighter.name %></td>
          <td><%= fighter.health %></td>
          <td><%= fighter.attack %></td>
          <td><%= link_to 'Voir', fighter %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>