<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fighter.name %>
</p>

<p>
  <strong>Health:</strong>
  <%= @fighter.health %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @fighter.attack %>
</p>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
