<h2>Log in</h2>

<div class="sign-in content">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "form-field" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "current-password", class: "form-field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Se souvenir de moi" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Connexion", class: "form-field" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
